/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: red;
}

.button {
    -fx-background-color: cyan;
}

.text-field {
    -fx-border-color: black;
}
.text-field.error {  
 -fx-border-color: red ;  
 -fx-border-width: 2px ;  
}